
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #dec6c6e4;
  color: #001847;
}
.info_me{
    display: flex;
margin-bottom: 20px;

}
.info-text{
margin-left: 20px;
}



.info_me p{
font-style: italic;
color: grey;
}

@media (max-width: 650px) {
    .info_me {
      display: block;
      text-align: center;
    }
  }

.card {

border: none;
border-radius: 20px;
color: black;
background-color: rgb(204, 212, 136);
padding: 15px 20px;
margin-bottom: 20px;

}

.container {

max-width: 800px;
 margin: auto;
 padding: 10px;
 
}

.info_me img {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    width: 200px;
    border-radius: 20px;

}

.btn{
background-color: black;
color: azure;
padding: 6px;
border-radius: 5px;
border: none;
font-family: inherit;
margin: 0 auto;
display: block;
  }

.btn:hover{
cursor: pointer;
background-color: gray;

}
a{
    text-decoration: none;
    color: grey;
    font-size: 15px;
}
a:hover{
text-decoration: underline;
}
a:active{
color: blue;
}
.list{
padding: 0 20px;
margin: 0;
list-style:decimal;
}
.list li{
 margin-bottom: 8px; 
  
}
.table{
width: 100%;
border: 2px solid black;
border-collapse: collapse;

}
.table td{
text-align: center;
padding-bottom: 10px;
border: 2px solid black;
}
.table td:nth-child(3){
    background-color: rgb(235, 143, 112);
    
}

.form h3 {
    text-align: center;
  }
  
  .form-row {
    margin-bottom: 10px;
    display: flex;
  }
  
  .form-row .form-group {
    margin-right: 20px;
    width: 50%;
    }
    @media (max-width: 650px) {
        .form-row {
          display: block;
        }
      
        .form-row .form-group {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
    }
  
  .form-row .form-group:last-child {
    margin-right: 0;
  }
  .form-group label {
    display: block;
    font-size: 14px;
    color: black;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
  }
  .form-textarea label{
    text-align: center;
    padding-bottom: 5px;
  }


